/* FONT STYLES */
body {
	color: white;
	font-family: 'Varela Round', sans-serif;
	background: black;
	background-image: url("../images/bg.jpg");
}

h1,
h2,
h3 {
	font-family: 'Bungee Inline', cursive;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

.hints {
	padding-top: 7%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.jumbotron {
	border-radius: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#hintText {
	font-size: .7em;
	color: #730CE8;
}

/* HEADER */
.hangman {
	position: relative;
	top: 10px;
	font-size: 1.5em;
}

.in-space {
	position: relative;
	top: -10px;
	font-size: 5em;
}

.theme-button {
	margin: 5px 5px 0 0;
}

.pause-button {
	margin: 5px 5px 0 0;
}

.play-icon,
.pause-icon {
	height: 20px;
}

/* MAIN SECTION */
.main-section {
	padding: 10px;
	color: black;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 30px 10px #026CB6;
}

.row-1 {
	position: relative;
}

.wins {
	color: #026CB6;
}

.guesses {
	font-weight: bold;
}

.card {
	border-color: #026CB6;
}

#message {
	color: #730CE8;
	font-size: .8em;
	font-style: italic;
}

/* MODAL WITH GAME RULES */
.btn-primary {
	background-color: #026CB6;
	border-color: #026CB6;
}

.btn-secondary {
	background-color: #730CE8;
	border-color: #730CE8;
}

.btn:hover {
	background-color: black;
	border-color: black;
}

/* IMAGES */

.image-container {
	margin-top: 4%;
}

#hintImage {
	/*box-shadow: 0px 0px 20px 5px #730CE8;*/
	border: 1px solid #730CE8;
}

.spaceman-gameplay {
	height: 85px;
	position: absolute;
	z-index: 1;
	top: 20%;
	left: 20%;
}

.blackhole {
	height: 417px;
    position: relative;
    top: 17%;
    left: 15%;
	opacity: 0.9;
    -webkit-animation: rotation 50s infinite linear;
}

/* ANIMATIONS */
@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes shrink {
	from {
		height: 85px;
	}

	to {
		height: 0px;
	}
}

@-webkit-keyframes winMoveLeft {
	from {
		right: 120px;
	}

	to {
		right: 500px;
	}
}

@-webkit-keyframes winMoveDown {
	from {
		top: 30px;
	}

	to {
		top: 170px;
	}
}

@-webkit-keyframes star {
	from {
		top: 30px;
	}

	to {
		top: 170px;
	}
}

/* GAME OVER - LOSE */
#gameover {
	display: none;
}

.blackhole-gameover {
	width: 100%;
	opacity: 0.95;
	position: relative;
	bottom: 280px;
	-webkit-animation: rotation 20s infinite linear
}

.spaceman-gameover {
	z-index: 2;
	height: 85px;
	position: relative;
	left: 50%;
	-webkit-animation: rotation 60s, shrink 60s infinite;
	top: 340px;
}

/* GAME OVER - WIN */
#youwin {
	display: none;
}

.spaceman-win {
	z-index: 2;
	height: 85px;
	position: absolute;
	right: 120px;
	top: 30px;
	-webkit-animation: winMoveLeft 90s, winMoveDown 90s, shrink 90s infinite;
}

#earthwin {
	width: 100%;
	object-fit: cover;
}

/* PLAY AGAIN BUTTON */
.img-wrapper {
	position: relative;
}

.img-overlay {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

.playAgain {
	width: 100%;
	border-radius: 0;
	display: none;
}

#gameplay{
/*display: none;*/
}

#video {
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
}